#root {
	--gap: 0.75rem;
	display: grid;
	grid-template-rows: auto 1fr;

	& > * {
		padding-inline: max(2rem, 50% - (620px + var(--gap)) / 2);
	}
}

#root,
body,
html {
	max-block-size: 100dvh;
}

.calendar {
	display: grid;
	grid-template-columns: auto 1fr;
	overflow: auto;
	width: min(100%, calc(620px + var(--gap)));
	margin-block: 2rem;

	.calendar__hours {
		block-size: 780px;
		display: grid;
		grid-template-rows: repeat(24, 1fr);
		align-items: center;
		justify-items: end;
	}

	.calendar__events {
		display: grid;
		padding-inline: 10px;
		grid-template-rows: repeat(780, 1px);
	}
}

.calendar__hour:last-child {
	display: none;
}
